<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script type="text/javascript" src="tags.js"></script>

<!-- Added link to the jQuery Library so won’t have to download a personal copy -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      iframe {
       width: 500px; /* It should not be 100% */
       height: 500px:
       margin-left: auto;   /* Automatic margin from left */
       margin-right: auto; /* Automatic margin from right */
      } 
    </style> 
</head>


<body>

<iframe allowtransparency="yes" scrolling="no" style="border: none; 
width:860px; height:759px; overflow: hidden;"
 src="https://in-the-sky.org/widgets/newscal.php?skin=0">
 </iframe>


</body>
</html>
