<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/theme1.css">
  <style>
    #map-canvas {
      margin: 0;
      padding: 0;
      height: 100%;
    }
  </style>
  <title>Home Page</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="/js/ExtDraggableObject.js"></script>
  <script type="text/javascript" src="/js/maps.js"></script>
  <script type="text/javascript" src="/js/caleandar.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl7z7WaDJwjwvBjibTRwfoNtFfU1iI-Zo"></script>
  <script>
    google.maps.event.addDomListener(window, 'load', initializeMap);
  </script>
  {{!-- auth CDN from Auth0 --}}
  {{!-- <script src="https://cdn.auth0.com/js/auth0-spa-js/1.2/auth0-spa-js.production.js"></script> --}}

</head>

<body>
  
  {{{body}}}

  <script>
// Geo Locate
let lat, lon;
if ('geolocation' in navigator) {
  console.log('geolocation available');
  navigator.geolocation.getCurrentPosition(async position => {
    let lat, lon, weather, forecast;
    try {
      lat = position.coords.latitude;
      lon = position.coords.longitude;
      document.getElementById('latitude').textContent = lat.toFixed(2);
      document.getElementById('longitude').textContent = lon.toFixed(2);
      const api_url = `weather/${lat},${lon}`;
      const response = await fetch(api_url);
      const json = await response.json();
      forecast = json.weather.daily;
      weather = json.weather.currently;
      document.getElementById('summary').textContent = weather.summary;
      document.getElementById('temp').textContent = weather.temperature;
      document.getElementById('forecast').textContent = forecast.data[0].summary;
      document.getElementById('sunrise').textContent = forecast.data[0].sunriseTime;
      document.getElementById('sunset').textContent = forecast.data[0].sunsetTime;
      document.getElementById('moonphase').textContent = forecast.data[0].moonPhase;

    } catch (error) {
      console.log(error);
    }

    const data = { lat, lon, weather, forecast };
    const options = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    };
    const db_response = await fetch('/api', options);
    const db_json = await db_response.json();
    console.log(db_json);
  });
} else {
  console.log('geolocation not available');
}
  </script>


</body>

</html>
