<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>StarScout Home</title>

  <script src="https://cesium.com/downloads/cesiumjs/releases/1.63.1/Build/Cesium/Cesium.js"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.63.1/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
  <link href="/styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="/js/ExtDraggableObject.js"></script>
  <script type="text/javascript" src="/js/maps.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl7z7WaDJwjwvBjibTRwfoNtFfU1iI-Zo"></script>
 
</head>

<body>
  
  {{{body}}}

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/index.js"></script>
 
  <script>
  google.maps.event.addDomListener(window, 'load', initializeMap);

  </script>
  {{!-- auth CDN from Auth0 --}}
  {{!-- <script src="https://cdn.auth0.com/js/auth0-spa-js/1.2/auth0-spa-js.production.js"></script> --}}

</body>

</html>
