<div id="index-banner" class="parallax-container">
    <div class="section section1 no-pad-bot">
      <div class="container">  
<!--add hamburger menu for scrollspy here-->
    
    <div class="dropdown">
        <i class="dropdown-trigger fa fa-bars fa-4x burger-menu" data-target='dropdown'></i>  
      <ul class="dropdown-content" id="dropdown">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {{#if loggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="/user">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        {{/if}}
      </ul>
    </div>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div id="map-canvas"></div>
        <h1>{{msg}}</h1>
        <h2>Events</h2>
          <ul>

          <div id="darksky">
            <p>
              - Current location <span id="latitude"></span>&deg;, <span id="longitude"></span>&deg;.
            <br>
              - It is <span id="summary"></span> with a temperature of <span id="temp"></span>&deg; F.
            <br>
              - It will be <span id="forecast"></span>.
            <br>
              - The Sun will rise at <span id="sunrise"></span> seconds.
            <br>
              - The Sun will set at <span id="sunset"></span> seconds.
            <br>
              - The current Moon phase is <span id="moonphase"></span>.
            </p>
            <br>
              <div class="row form-group form-inline" id="searchdiv">
                <input type = "text" name="location" id="location" placeholder="City">
                <button id="geolocate">Search</button>
              </div>
            </ul>
          </div>
          
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script>
    $('#geolocate').click(function() {
    var location = $("#location").val();
    if (location != '') {
      .ajax ({
        url: 'http://api.openweathermap.org/data/2.5/weather?q=' + location + '&units=imperial' + '560a44dd3a91049359b3ff212530bb7f',
        type: "GET",
        datatype: "jsonp",
        success: function(data) {
          console.log("weather" + data);
        }
      });

    } else {
      throw(err);
    }
  })
</script> --}}

<script src="/js/index.js"></script>
