<div id="index-banner"class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">  
      
      <div class="dropdown">
        <i class="dropdown-trigger fa fa-bars fa-4x burger-menu" data-target='dropdown'></i>  
        <ul class="dropdown-content" id="dropdown">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          {{#if loggedIn}}
          <li class="nav-item">
            <a class="nav-link" href="/user">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          {{/if}}
        </ul>
      </div>

      <div id="home">
        <div class="container float-text exoFont">
          <div class="section">
            <div class="row">
              <div id="map-canvas"></div>
              <div class="col s12 center exoFont">
                <div class="card eventsCard horizontal">
                  <div class = "card-stacked">
                    <h5 class="card-title">Placeholder Title</h5>
                        <p><strong>Current Location</strong>: PLACEHOLDER</p>
                        <p><strong>Start Date</strong>: PLACEHOLDER</p>
                        <p><strong>End Date</strong>: PLACEHOLDER</p>
                        <p><strong>Weather Conditions</strong>: PLACEHOLDER</p>
                        <p><strong>Temperature</strong>: PLACEHOLDER</p>
                        <p><strong>Sunrise</strong>: PLACEHOLDER</p>
                        <p><strong>Sunset</strong>: PLACEHOLDER</p>
                        <button id="geolocate">Check here</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/resultsbkgrd.jpg" alt="Unsplashed background img 1"></div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>