<div style = "background-image: url('/images/testing.jpg'); height: 100%;">
 <div id="index-banner" class="parallax-container">
 
<!--add hamburger menu for scrollspy here-->
    
    <ul id="slide-out" class="black sidenav white-text exoFont flow-text">
      <li>
        <div class="user-view">
          <div class="background"></div>
        <div class="nav-item active">
          <a class="nav-link sidenav-close" href="/">Home <span class="sr-only">(current)</span></a>
        </div>
          {{#if loggedIn}}
          <div class= "nav-item">
          <a href="/user" class="sidenav-close nav-link white-text exoFont flow-text">Your Profile</a>
          </div>
          <br>
          <a href="/logout" class="sidenav-close nav-link white-text exoFont flow-text">Log Out</a>
          {{else}}
          <a href="/login" class="sidenav-close nav-link white-text exoFont flow-text">Log In</a>
          {{/if}}
        </div>
      </li>    
      <li><div class="divider white-text exoFont flow-text"></div></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fa fa-bars fa-4x burger-menu material-icons white-text exoFont flow-text"></i></a>

  <div class="section section1 no-pad-bot">
    <div class="container">  

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4" id="innerprofile">
        <div class="card-body">

          <h5 class="card-title center" id="welcomeback"><strong>Welcome back to StarScout!</strong></h5>
          <h2 id="innerprofile">Hey {{user.nickname}}</h2>

          <h4>Your Favorites:</h4>

          <div id="innerprofile">
            <img src="{{{user.picture}}}" style="height: 300px; width: 300px"/>
            {{!-- <img id="myImg" src="https://lorempixel.com/250/350/nature" height="200px" width="100px">
          <input type='file' /> --}}
          </div>
        </div>
      </div>
              <a href="/">← Home</a>
    </div>
              <h4>Add new event:</h4>
   </div>
  </div>
</div>

{{!-- <script>
window.addEventListener('load', function() {
  document.querySelector('input[type="file"]').addEventListener('change', function() {
      if (this.files && this.files[0]) {
          var img = document.querySelector('img');  // $('img')[0]
          img.src = URL.createObjectURL(this.files[0]); // set src to blob url
          img.onload = imageIsLoaded;
      }
  });
});

function imageIsLoaded() { 
  alert(this.src);  // blob url
  // update width and height ...
}
</script> --}}

