/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 #map-canvas {
  margin: 0;
  padding: 0;
  height: 500px;
}

 .list-group-item {
  line-height: 2.5;
}

#innerprofile {
  margin-top: 10px;
  color: whitesmoke;
  background-color: rgba(44, 44, 44, 0.342);
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.home {
  background-image: url('../images/background1.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2e2e;
 }

#welcomeback {
  font-size: 36pt;
}

#myImg {
  height: 300px;
  width: 300px;
}

#darksky {
  padding: 0px;
  background-color: rgba(44, 44, 44, 0.342);
}

#searchdiv {
  color: whitesmoke;

}

#location {
  color: whitesmoke;

}

 .containerCal {
  overflow: hidden;
}

.sliding-background {
  height: auto;
  width: 5076px;
}

 @import url(../templates/bucket.css);

.eventsCard{
  background:rgba(0, 0, 0, 0.6);
}

 .burger-menu {
	display: block;
	margin-left: 100px;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 1px;
  cursor: pointer;
  z-index: 2000; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    z-index: 2000 !important;
}

.dropdown-content a {
  z-index: 2000 !important;
    color: white;
    padding: 30px 16px;
	text-align: center;
    text-decoration: none;
    display: block;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-size: 24px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.dropdown-content a:hover {
	background-color: #ffffff;
	color: black;
}

.dropdown .dropdown-content.show {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}


 .header{
   text-decoration: underline;
 }

 .exoFont{
 font-family: 'Exo 2', sans-serif;
 }
 
 .carousel-content {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.upcoming {
  font-size: 50px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h1{
  font-family: 'Monoton', cursive;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.carousel .carousel-item {
  width:500px !important;
  height:500px !important;  
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.section1 {
  margin-top: -50px;
  min-height: 1000px;
}

.carousel {
  min-height: 500px;
}

.slider .slides li img {
  background-size:100% auto;
  background-repeat: no-repeat;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
